@tailwind base;
@tailwind components;
@tailwind utilities;

/* //MY STYLES */

/* //COLOURS */

/* //PRIMARY */
/* theme('colors.basecolor1'): white; // White
$basecolor2: #000000; // Black - Text
$basecolor3: #1D1D1B; // Grey - Text
$basecolor4: #87C300;  // Green
$basecolor5: #007653;  // D Green
$basecolor6: #273885;  // Blue
$basecolor7: #868686; // More Grey - Text
$basecolor8: #EEF0EE; //More Grey Light - background */

/*
//BREAKPOINTS

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px; */

.prose h2,
.prose h1 {
  @apply mb-2 font-serif text-4xl;
}
.prose h3 {
    @apply mb-3 font-serif font-semibold text-2xl;
  }
.prose h4 {
    @apply mb-3 font-serif text-2xl;
}
.prose h5 {
    @apply font-semibold;
}
.prose h6 {
    @apply font-normal text-2xl;
}

.prose ul {
  @apply list-disc list-outside  ml-6;
}
.prose li {
  @apply mb-2;
}

@screen md {
    .doc-repo-link {
        @apply hidden
    }
}
@screen lg {
  .prose h2,
  .prose h1 {
    @apply text-5xl;
  }
  .prose h3,
  .prose h4 {
    @apply text-3xl;
  }
}
@screen xl {
  .prose h2,
  .prose h1 {
    @apply text-6xl;
  }
}

.prose ul {
    @apply list-disc list-inside pl-0;
}

body {
  @apply antialiased;
}
main > picture::after {
    content: ""
}
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
}

p {
  margin-bottom: 1rem;
}

strong {
  font-weight: 600;
}

a:hover {
  @apply text-blue;
}

.cta-lines:after,
.cta-lines:before {
  content: "\002F";
  font-weight: 700;
  color: white;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.border-blue {
  border-color: theme("colors.basecolor6");
}

.border-grey {
  border-color: #9b9a9a;
}

.border-white {
  border-color: theme("colors.basecolor1");
}

.border-green {
  border-color: theme("colors.basecolor4");
}

.border-dgreen {
  border-color: theme("colors.basecolor5");
}

.bg-white {
  background-color: theme("colors.basecolor1");
}

.bg-grey {
  background-color: theme("colors.basecolor8");
}

.bg-blue {
  background-color: theme("colors.basecolor6");
}

.bg-green {
  background-color: theme("colors.basecolor4");
}

.bg-dgreen {
  background-color: theme("colors.basecolor5");
}

.bg-teal {
  background-color: #39869b;
}

.bg-white-trans {
  background-color: rgba(255, 255, 255, 0.75);
}

.bg-img-1 {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.520045518207283) 0%,
      rgba(0, 0, 0, 0) 10%
    ),
    linear-gradient(
      0deg,
      rgba(233, 233, 233, 1) 0%,
      rgba(233, 233, 233, 0) 100%
    ),
    url("/assets/images/backgrounds/bg-1s.jpg") #e9e9e9;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
}

@screen lg {
  .bg-img-1 {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.520045518207283) 0%,
        rgba(0, 0, 0, 0) 5%
      ),
      linear-gradient(
        9deg,
        rgba(201, 200, 200, 1) 0%,
        rgba(243, 243, 243, 0.5018382352941176) 47%,
        rgba(243, 243, 243, 0) 100%
      ),
      url("/assets/images/backgrounds/bg-1.jpg");
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
  }
}

.bg-img-2 {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.520045518207283) 0%,
      rgba(0, 0, 0, 0) 5%
    ),
    url("/assets/images/backgrounds/bg-2s.jpg") #e9e9e9;
}

@screen lg {
  .bg-img-2 {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.520045518207283) 0%,
        rgba(0, 0, 0, 0) 10%
      ),
      linear-gradient(
        9deg,
        rgba(201, 200, 200, 1) 0%,
        rgba(243, 243, 243, 0.5018382352941176) 47%,
        rgba(243, 243, 243, 0) 100%
      ),
      url("/assets/images/backgrounds/bg-2.jpg");
  }
}

.bg-img-3 {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.520045518207283) 0%,
      rgba(0, 0, 0, 0) 5%
    ),
    url("/assets/images/backgrounds/bg-3s.jpg") #e9e9e9;
}

@screen lg {
  .bg-img-3 {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.520045518207283) 0%,
        rgba(0, 0, 0, 0) 10%
      ),
      linear-gradient(
        9deg,
        rgba(201, 200, 200, 1) 0%,
        rgba(243, 243, 243, 0.5018382352941176) 47%,
        rgba(243, 243, 243, 0) 100%
      ),
      url("/assets/images/backgrounds/bg-3.jpg");
  }
}

.bg-img-4 {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.520045518207283) 0%,
      rgba(0, 0, 0, 0) 5%
    ),
    url("/assets/images/backgrounds/bg-4s.jpg") #e9e9e9;
}

@screen lg {
  .bg-img-4 {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.520045518207283) 0%,
        rgba(0, 0, 0, 0) 10%
      ),
      linear-gradient(
        9deg,
        rgba(201, 200, 200, 1) 0%,
        rgba(243, 243, 243, 0.5018382352941176) 47%,
        rgba(243, 243, 243, 0) 100%
      ),
      url("/assets/images/backgrounds/bg-4.jpg");
  }
}
.bg-img-5 {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.520045518207283) 0%,
      rgba(0, 0, 0, 0) 5%
    ),
    url("/assets/images/backgrounds/bg-5s.jpg") #e9e9e9;
}
@screen lg {
  @.bg-img-5 {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.520045518207283) 0%,
        rgba(0, 0, 0, 0) 10%
      ),
      linear-gradient(
        9deg,
        rgba(201, 200, 200, 1) 0%,
        rgba(243, 243, 243, 0.5018382352941176) 47%,
        rgba(243, 243, 243, 0) 100%
      ),
      url("/assets/images/backgrounds/bg-5.jpg");
  }
}

.bg-img-6 {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.520045518207283) 0%,
      rgba(0, 0, 0, 0) 5%
    ),
    url("/assets/images/backgrounds/bg-6s.jpg") #e9e9e9;
}

@screen lg {
  .bg-img-6 {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.520045518207283) 0%,
        rgba(0, 0, 0, 0) 10%
      ),
      linear-gradient(
        9deg,
        rgba(201, 200, 200, 1) 0%,
        rgba(243, 243, 243, 0.5018382352941176) 47%,
        rgba(243, 243, 243, 0) 100%
      ),
      url("/assets/images/backgrounds/bg-6.jpg");
  }
}


.bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
  }
  @screen lg {
    .bg-img {
      background-size: cover;
      background-position: right;
      background-attachment: fixed;
    }
  }

.white-opacity-strip {
  border-top: 36px solid rgba(255, 255, 255, 0.5);
}

.company-img {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    transition:all ease-in-out 0.5s;
    min-height:320px;
    background-size: 200px auto;
}


.company-content .cta-lines::after,
.company-content .cta-lines::before {
  content: "\002F";
  font-weight: 700;
  color: theme("colors.basecolor1");
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/* .company-content .cta-lines:hover {
  color: theme("colors.basecolor1");
} */

/* .company-img:hover .cta-lines::after,
.company-img:hover .cta-lines::before {
  color: theme("colors.basecolor4");
}
.company-img:hover .cta-lines::hover {
  color: theme("colors.basecolor1");
} */

.esg-table table td {
  vertical-align: top;
}

.esg-table table li {
  list-style-type: decimal;
  margin-left: 30px;
  line-height: 1.1rem;
  font-size: 0.85rem;
  color: theme("colors.basecolor2");
  margin-left: 30px;
  margin-bottom: 10px;
}

.esg-table table tr:nth-child(1) {
  color: #003a2a;
  border-top: 1px solid theme("colors.basecolor6");
}

.esg-table table tr:nth-child(2) {
  color: theme("colors.basecolor6");
  border-top: 1px solid theme("colors.basecolor6");
}

.esg-table table tr:nth-child(3) {
  color: theme("colors.basecolor5");
  border-top: 1px solid theme("colors.basecolor5");
}

.esg-table table tr:nth-child(4) {
  color: theme("colors.basecolor4");
  border-top: 1px solid theme("colors.basecolor4");
}


.esg-table table tr > :nth-child(1) {
  width: auto;
  white-space: nowrap;
  font-size: 0.9rem;
  font-weight: 600;
  padding-right: 20px;
}

.team-thumb .team-thumb-content {
  transition: all ease-in-out 0.5s;
  background-position: right 30px center;
}

.team-thumb:hover .team-thumb-content {
  background: theme("colors.basecolor6");
  color: theme("colors.basecolor1");
  background-image: url("/assets/images/arrow-right-white.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
}

.team-thumb-content a {
  color: theme("colors.basecolor1");
}

.team-thumb-content div {
  border-color: theme("colors.basecolor1");
}

.contact-icon span {
  background-image: url("/assets/images/icon-contact.svg");
  background-repeat: no-repeat;
  height: 22px;
  width: 22px;
  display: block;
  margin-right: 6px;
  margin-top: 4px;
}

.contact-address span {
  background-position: 0 0;
}

.contact-phone span {
  background-position: -40px 0;
}

.contact-email span {
  background-position: -80px 0;
}

.form .round {
  position: relative;
}

/* .form .round label, */
.form .round .wpcf7-list-item-label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 24px;
}

#newCookieNotice .form .round .wpcf7-list-item-label {
    position: relative!important;
    margin-right: 1rem;
}

/* .form .round label:after, */
.form .round .wpcf7-list-item-label::after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 5px;
  opacity: 0;
  position: absolute;
  top: 6px;
  transform: rotate(-45deg);
  width: 12px;
}

.form .round input[type="checkbox"] {
  visibility: hidden;
}

/* .form .round input[type="checkbox"]:checked + label, */
.form .round input[type="checkbox"]:checked + .wpcf7-list-item-label {
  background-color: theme('colors.basecolor4');
  border-color: theme('colors.basecolor4');
}

/* .form .round input[type="checkbox"]:checked + label:after */
.form .round input[type="checkbox"]:checked + .wpcf7-list-item-label::after {
  opacity: 1!important;
}

.contact-form button {
  color: #01879d;
  font-weight: 700;
}

.contact-form input,
.contact-form textarea {
  border-bottom: 2px solid theme('colors.basecolor1');
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-bottom: 2px solid theme('colors.basecolor4');
}

.repo-panel {
  opacity: 0.5;
  transition: all ease-in-out 0.3s;
}
.repo-panel:hover {
  opacity: 1;
  cursor: pointer;
}

.register-form input {
  border-bottom: 1px solid #2a3981;
}

.register-form input:focus {
  outline: none;
  border-bottom: 1px solid theme('colors.basecolor4');
}

.register-form button {
  color: theme("colors.basecolor2");
  font-weight: 700;
}

.register-form .arrow-link {
  background-position: right 0px top -50px;
}
.register-form .arrow-link:hover {
  background-position: right 0px top -21px;
}

.arrow-link {
  transition: color ease-in-out 0.3s;
  background-image: url("/assets/images/icon-arrows-r.svg");
  background-repeat: no-repeat;
  background-position: right 0px top -54px;
}
.arrow-link:hover {
  color: theme("colors.basecolor6");
  background-image: url("/assets/images/icon-arrows-r.svg");
  background-position: right 0px top -24px;
}

.document-rep-btn {
  background-color: theme("colors.basecolor8");
  transition: background-color ease-in-out 0.3s;
  background-image: url("/assets/images/icon-arrows-r.svg");
  background-repeat: no-repeat;
  background-position: right 14px top -50px;
}

.document-rep-btn:hover {
  background-color: theme("colors.basecolor6");
  color: theme("colors.basecolor1");
  background-image: url("/assets/images/icon-arrows-r.svg");
  background-position: right 14px top 10px;
}

.search-button {
  right: 0;
  top: 1px;
  height: 30px;
  width: 30px;
}

.search-form input {
  background: #c5c5c4;
}

.search-form input:focus {
  outline: none;
  background: rgba(#c5c5c4, 0.5);
}

.search-form button {
  background: theme("colors.basecolor3");
  padding: 1px;
}

.search-form input::placeholder {
  color: theme("colors.basecolor1");
  text-transform: uppercase;
  font-weight: 500;
  text-align: right;
}

.header-logo {
  width: 180px;
}

@screen md {
  .header-logo {
    width: 220px;
  }
}

nav li,
nav ul {
  margin: 0;
}

nav ul {
  height: 100%;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
nav ul a {
  text-transform: uppercase;
  position: relative;
  display: block;
  outline: 0;
  text-decoration: none;
}
nav ul li.current_page_item a {
  color: theme("colors.basecolor7");
}

nav ul li {
  display: inline-block;
  @apply w-full;
}

@screen lg {
  nav ul li {
    @apply w-auto;
  }
  nav ul li a.active:hover {
    cursor: default;
    color: theme("colors.basecolor7");
  }

  nav ul li a:after {
    content: "\002F";
    color: theme("colors.basecolor4");
    padding-left: 12px;
    padding-right: 12px;
  }
  nav ul li a:last-of-type a::after {
    content: "";
    padding-right: 0;
  }
}

label[for="main_menu"],
nav {
  transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger {
  padding: 1rem 0rem;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  background: none;
  width: 102px;
}
.hamburger .hamburger-close {
  display: none;
  padding-right: 0.6rem;
}

.hamburger .hamburger-open:after,
.hamburger .hamburger-open:before {
  content: "\002F";
  font-weight: 700;
  color: theme("colors.basecolor4");
  padding-left: 2px;
  padding-right: 2px;
}

.hamburger-box {
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

input[name="main_menu"]:checked ~ nav,
nav {
  margin: 0;
}

.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 575ms;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

label[for="main_menu"] {
  display: block;
  font-weight: 700;
  text-align: right;
  position: absolute;
  z-index: 500;
  top: 0;
  right: 2em;
}

input[name="main_menu"] {
  display: none;
}

input[name="main_menu"]:checked ~ nav li a {
  padding: 0.8rem 1rem;
}

input[name="main_menu"]:checked ~ label .hamburger {
  background: theme("colors.basecolor3");
}

input[name="main_menu"]:checked ~ label .hamburger .hamburger-open {
  display: none;
}

input[name="main_menu"]:checked ~ label .hamburger .hamburger-close {
  display: block;
  color: theme("colors.basecolor1");
}

.menu-logo {
  display: none;
}

nav {
  position: fixed;
  top: 0;
  width: calc(100% - 100px);
  height: 100%;
  z-index: 999;
}

@screen lg {
  nav,
  nav ul {
    width: auto;
  }

  header span.logo,
  label[for="main_menu"] {
    display: none;
  }

  nav {
    box-shadow: none;
    position: relative;
    margin: 0;
    padding: 0.5em;
    padding-right: 0;
  }

  nav ul {
    height: auto;
  }

  nav ul li {
    display: inline-block;
  }

  nav ul li a {
    left: inherit;
    border-bottom: none medium;
  }
}

.left_menu input[name="main_menu"]:checked ~ section,
input[name="main_menu"]:checked ~ section {
  transform: translate3d(18em, 0, 0);
}

.left_menu input[name="main_menu"]:checked ~ label[for="main_menu"] {
  right: 1em;
  transition: left 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

@media (max-width: 1024px)     {
  .menu-logo {
    display: block;
    margin: 1.4rem;
  }

  .left_menu nav li a {
    left: -100%;
    transition: left 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    color: theme("colors.basecolor1");
  }
  .left_menu nav li a:before {
    content: "\002F";
    color: theme("colors.basecolor4");
    padding-left: 12px;
    padding-right: 12px;
  }

  .left_menu nav {
    left: 0;
    margin-left: -100%;
    background: theme('colors.basecolor3');
  }

  .left_menu input[name="main_menu"]:checked ~ nav li a {
    left: 0;
  }

  .left_menu input[name="main_menu"] ~ label[for="main_menu"] {
    right: 1em;
  }

  nav ul {
    width: 100%;
    text-align: left;
  }
}

.mfp-bg {
  background: theme("colors.basecolor1");
  opacity: 0.8;
}
.mfp-container {
    overflow: auto;
}

.mfp-content {
  position: relative;
  background: #fff;
  width: auto;
  margin: 20px auto;
  max-width: 1500px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
}
.our-team .mfp-content {
    width: 80%;
    @apply max-w-sm;
}

@screen lg {
    .our-team .mfp-content {
        @apply max-w-lg
    }
}

.mfp-close {
  font-size: 50px;
  color: theme("colors.basecolor6");
  opacity: 1;
  filter: grayscale(1);
}

.mfp-close:hover {
  filter: grayscale(0);
}
.mfp-arrow {
    display: none!important;
}
/*
.mfp-arrow-left {
  background: url("/assets/images/arrow-right.svg") no-repeat center center !important;
  transform: rotate(180deg);
  opacity: 1;
  filter: grayscale(1);
}

.mfp-arrow-left:hover {
  filter: grayscale(0);
}

.mfp-arrow-right {
  background: url("/assets/images/arrow-right.svg") no-repeat center center !important;
  opacity: 1;
  filter: grayscale(1);
}
.mfp-arrow-right:hover {
  filter: grayscale(0);
}

.mfp-arrow-left::before,
.mfp-arrow-right::before {
  display: none;
  content: "";
}

.mfp-arrow-left::after,
.mfp-arrow-right::after {
  display: none;
  content: "";
} */


.prose table {
    @apply w-full table-auto;
}

.prose tr {
    @apply border-b;
    border-color: #9b9a9a;
}

.prose td {
    @apply py-2 pr-2
}
@media (max-width: 768px) {
    .prose td {
        display: block;
    }
}

.tabsy > input + label {
    opacity: 0.7;
    color: red;
}

.tabsy > .tabButton .tabButton-inner {
    color: theme('colors.basecolor7');
    background: linear-gradient(to bottom, #EEEEEE, #BBBCBD);
}

.jarallax {
    position: relative;
    z-index: 0;
}
.jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    /* support for plugin https://github.com/bfred-it/object-fit-images */
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.jarallax > .jarallax-img img {
    width: 100%;
    object-fit: cover;
}

.homepage-block > div{
    @apply opacity-0 transform transition translate-y-1/2 duration-1000;
}

.homepage-block > div:nth-child(1){
    transition-delay: 0.5s;
}


.homepage-block > div:nth-child(2){
    transition-delay: 1s;
}


.homepage-block > div:nth-child(3){
    transition-delay: 1.5s;
}

.loaded .homepage-block > div{
    @apply opacity-100 translate-y-0;
}

.mfp-iframe-holder .mfp-close {
    @apply text-basecolor7 h-6 w-6 p-0 bg-cover cursor-pointer;

    background-repeat: no-repeat;

    background-image: url('/assets/images/close.svg');
}
